@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.react-pdf__Page {
  margin: 0 auto;
  background-color: white;
  border-radius: 0.5rem;
}

.react-pdf__Page canvas {
  border-radius: 0.5rem;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .react-pdf__Page {
    background-color: rgb(31, 41, 55);
  }
}
